.support-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1px;
    .main-text{
        font-size: 35px;
        font-weight: 800;margin-bottom: -10px;
    }
    .sub-text{
        color: gray;
    }
    justify-content: space-between;
    .create-ticket-btn{
        .create-tkt{color: white;background-color:#613eff ;border: none;
            margin-top: 30px   ;}
    }
}
.ticket-list-container{
    display: flex;flex-direction: column;
    justify-content: center;gap:20px;
    .tkt-card{
        background-color: white;
        border: 1px solid rgb(207, 205, 205);border-radius: 15px;
        display: flex;flex-direction: column;
        justify-content: space-around;
        .first-row{
            display: flex;justify-content: space-between;
            padding-left: 30px;padding: auto;
            .left{
                gap: 30px;
                .ticketid{color: rgb(78, 77, 77);font-weight: 800;}

                .supportStatus-InProgress{
                    color: rgb(148, 55, 21);background-color: rgb(253, 220, 201);
                    padding: 4px 10px 5px 10px;border-radius: 15px;font-size: 15px;
                }
                .supportStatus-open{
                    color: rgb(44, 30, 242);background-color: rgb(189, 223, 255);
                    padding: 4px 10px 5px 10px;border-radius: 15px;font-size: 15px;
                }
                .risk{
                    color: rgb(173, 7, 7);background-color: rgb(255, 210, 210);
                    padding: 4px 10px 5px 10px;border-radius: 15px;font-size: 15px;
                }
            }
            .risk{padding-right: 30px;color: gray;}
        }
        .second-row{
            padding-left: 30px;
        }
        .third-row{
            padding-left: 30px;
            display: flex; gap: 20px;
            color: gray;
            .shipmentid{
                background-color: rgb(223, 222, 222);padding: 3px;
                color: black;
            }
        }
    }
}