.myshipments {
  padding: 24px;
}

.ms-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.export-btn {
  background: linear-gradient(135deg,#4138eb,#8c2eff);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
}

.ms-search {
  display: flex;
  gap: 10px;
  margin: 16px 0;
}

.ms-search input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.ms-tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.ms-tabs a {
  padding: 8px 14px;
  border-radius: 20px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ddd;
}

.ms-tabs a.active {
  background: linear-gradient(135deg,#4138eb,#8c2eff);
  color: white;
  border: none;
}

.shipment-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.shipment-card {
  display: flex;
  justify-content: space-between;
  padding: 20px;width: 100%;
  border-radius: 16px;
  background: white;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
}

.sc-left {
  display: flex;
  gap: 14px;
}

.sc-icon {
  border-radius: 12px;display: flex;justify-content: center;
  color: white;height: min-content;width: 50px;align-items: center;
}

.sc-icon.active { background: #3b82f6; }
.sc-icon.delivered { background: #22c55e; }
.sc-icon.delayed { background: #fb923c; }
.sc-icon.cancelled { background: #ef4444; }

.badge {
  margin-left: 8px;
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 12px;
}

.badge.active { background: #dbeafe; color:#2563eb }
.badge.delivered { background: #dcfce7; color:#166534 }
.badge.delayed { background: #ffedd5; color:#9a3412 }
.badge.cancelled { background: #fee2e2; color:#991b1b }

.sc-right {
  text-align: right;
}

.view-btn {
  margin-top: 8px;
  padding: 8px 14px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(135deg,#4138eb,#8c2eff);
  color: white;
}
.myshipments {
  max-width: 1100px;
}

.ms-tabs {
  display: flex;
  gap: 10px;justify-content: start;
  margin-bottom: 20px;height:40px;
}
.active-all{  background-color: #8419ff;}
.active-blue{  background-color: rgb(65, 138, 255);}
.active-red{  background-color: #ef4444;}
.active-orenge{  background-color: #fb923c;}
.active-green{  background-color: #22c55e;}
.active-all,.active-blue,.active-green,.active-orenge,.active-red{
  width: 120px;border:none;color: white;
}
.hov-blue,.hov-red,.hov-orenge,.hov-green{border-radius: 15px;background-color: white;color: rgb(72, 71, 71);width: 120px;border: solid 1px gray;}
.hov-blue:hover{border: solid #3b82f6 2px;}
.hov-red:hover{border: solid #ef4444 2px;}
.hov-orenge:hover{border: solid #fb923c 2px;}
.hov-green:hover{border: solid #22c55e 2px;}

.shipment-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 400px;
}

.shipment-card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
}
