.NB-tabs {
  border: solid 1px rgb(231, 223, 223);
  padding: 15px;
  border-radius: 20px;
  background-color: white;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}
.noofst {
  background-color: rgb(228, 226, 226);
  padding: 5px;
  color: rgb(159, 159, 159);
  border-radius: 8px;
  margin-right: 5px;
}
.tab-btns {
  font-size: 16px;
  border: none;
}
.tab-btns.act-all {
  background-color: white;
  color: rgb(141, 139, 139);
}
.tab-btns.hover-blue {
  border: none;
  color: rgb(11, 96, 255);
  background-color: white;
  .noofst {
    color: white;
    background-color: rgb(11, 96, 255);
  }
}
